

.title {
    text-align: left;
    padding-left: 3%;
    color: rgb(206, 206, 206);
}



.buttonSimulate {
    background-color: rgb(189, 248, 100);
    color: rgb(41, 41, 41);
    border-radius: 8px;
}

.buttonSimulate:hover {
    background-color: greenyellow;
    transition: 1s;
    
}


.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-left: 6.9%;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5%;

}

.table {
    background-color:rgb(48, 48, 48);
    border-radius: 10px;
    color: rgb(219, 219, 219);
    width: 100%;
    height: 67vh;
}

.dataTable {
    max-height: calc(1.5 * 1.75rem * 10);
    overflow-y: auto;
}

h4 {
    text-align: left;
    padding: 1%;
    color: rgb(158, 158, 158);
    
}
th {
    font-weight: normal;
}
thead th {
    position: sticky;
    top: 0;
    --bs-table-bg: rgb(48, 48, 48) !important;
    font-size: large;
    font-weight: bold;
  }

  .hoverCss {
    cursor: pointer;
    --bs-table-hover-bg: #57597a !important;
   
}

.selectedRow {
    --bs-table-bg: #3c4065 !important;
    --bs-table-striped-bg: #3c4065 !important;
    font-weight: bold;
    font-style: italic;
  }

.zscoreOrder {
    transition: 0.5s;
}

.zscoreOrder:hover {
    color: yellowgreen;
    cursor: pointer;
    
}

/* RESPONSIVE */

@media only screen and (max-width: 820px) {
    
    .table {
        height: auto;
    }
}
  
