.tradeContainer {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.coinsContainer{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.placeTrade {
    background-color: greenyellow;
    border: none;
    color: black;
}

.modalHead {
  background-color: rgb(48, 48, 48);
  color: white;
}


.modalBody {
  background-color: rgb(48, 48, 48);
  color: white;
}

.modalFooter {
    background-color: rgb(48, 48, 48);}

.directionContainer {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 100%;
}


.longButton,
.shortButton {
  border: none;
  color: white;
  width: 20%;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.longButton {
  background-color: greenyellow;
}

.shortButton {
  background: #ff4a4a;
}

.active {
  opacity: 1 !important;
}







