.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.dataContainer {
  display: flex;
  flex-direction: column;
  
}

.chartPairs {
  display: table;
  height: 60vh;
  margin-left: 9.3%;
  margin-right: 2.5%;
  margin-bottom: 3%;
}


.cointegrated {
  margin-top: 4%;
  height: 50vh;
  background-color: rgb(48, 48, 48);
  padding: 2%;
  border-radius: 8px;
  width: 100%;
  
  
}

.metricsChart {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

.zscore {
  width: 100%;
  margin-top: 6%;
  height: 40vh;
  background-color: rgb(48, 48, 48);
  padding: 2%;
  border-radius: 8px;
}

.spread {
  width: 100%;
  margin-top: 4%;
  height: 40vh;
  
  background-color: rgb(48, 48, 48);
  padding: 2%;
  border-radius: 8px;
}

.pairsContainer {
  display: flex;
}

.firstData {
  display: flex;
    flex-direction: column;
    margin-left: 9.3%;
    margin-right: 2%;
    margin-top: 3%;
    width: 75%;
}

.dataContainer {
  width: 100%;
  margin-right: 2.6%;
}