body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 17, 17);
  background-image: url("../src/assets/fondoLndscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  overflow-y: scroll; /* Añade desplazamiento vertical */
  scrollbar-width: thin; /* Ajusta el grosor de la barra de desplazamiento (opcional) */
  scrollbar-color: black;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-open {
  overflow-y: scroll !important;
  padding-right: 0px !important;
}

